include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include insights_additions *.css
recursive-include insights_additions *.csv
recursive-include insights_additions *.html
recursive-include insights_additions *.ico
recursive-include insights_additions *.js
recursive-include insights_additions *.json
recursive-include insights_additions *.md
recursive-include insights_additions *.png
recursive-include insights_additions *.py
recursive-include insights_additions *.svg
recursive-include insights_additions *.txt
recursive-exclude insights_additions *.pyc